* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /* Updates default font-size to 10px while not overriding browser accessibility features */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-padding-top: 100px; /* height of the navbar */
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
  background-color: limegreen;

}

/* HEADER SECTION */

header {
top: 0;
left: 0;
width: 100%;
font-size: 3rem;
z-index: 10;
position: fixed;
border-bottom: 5px solid black;
background-color: darkgreen;
}

.johnlearns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.johnlearns p {
  background-color: black;
  color: greenyellow;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 600;
}

p span {
  color: white;
}

/* MAIN SECTION */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 0 auto;
  padding-top: 80px;
  width: 90vw;
  gap: 30px;
}

.topic-select, .topic-reveal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  width: 80vw;
  max-width: 700px;
}

select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid black;
}

button:hover {
  background: greenyellow;
  color: black;
}

h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}

topis-reveal p {
  font-size: 1rem;
}